
.header-model-editor {
  margin-bottom: 1rem;
  background-color: white;
  border: 2px solid white;
  border-radius: 8px;
  color: black;
  box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
}

.general-settings {
  background-color: white;
  box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
  color: black;
  margin: 1rem 1rem 1rem 1rem;
}

.editors {
  margin: 2rem 2rem 2rem 2rem;
}

.container-fluid-w1900 {
  max-width: 1900px;
}

.blue,
.blue:focus {
  background-color: #0081d5;
}

.blue:hover {
  background-color: #005c99;
}

.blue:active {
  background-color: #1aa3ff;
}

.yellow,
.yellow:focus {
  background-color: #ffc107;
}

.yellow:hover {
  background-color: #cc9a05;
}

.yellow:active {
  background-color: #ffcd38;
}

.green,
.green:focus {
  background-color: #198754;
}

.green:hover {
  background-color: #105635;
}

.green:active {
  background-color: #24c278;
}

.red,
.red:focus {
  background-color: #dc3545;
}

.red:hover {
  background-color: #960a22;
}

.red:active {
  background-color: #fb294c;
}

