#root {
  /* Para los \n de i18next */
  white-space: pre-line;
}


.body {
  background-color: #E8EaEd;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.n4l-summary {
  font-size: 1.5em
}

.n4l-summary-1-25 {
  font-size: 1.25em
}

.overflow-x-scroll-inherit {
  overflow-x: inherit;
}